<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illo accusamus
      quo commodi maxime animi architecto iste cum unde voluptatibus, voluptatum
      neque vitae enim fugiat reiciendis minus nisi veniam rem.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, nostrum,
        a provident laborum excepturi, alias nesciunt saepe pariatur ex deserunt
        dicta quisquam cumque reprehenderit corporis recusandae qui enim.
        Quibusdam, eaque?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illo accusamus
      quo commodi maxime animi architecto iste cum unde voluptatibus, voluptatum
      neque vitae enim fugiat reiciendis minus nisi veniam rem.
    </p>
  </div>
</section>
