<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy to Install & Manage</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur animi
      fuga alias magnam harum. Voluptas tempore aperiam quo suscipit ex?
      Exercitationem officiis quas nostrum molestias deserunt ducimus tempore,
      sint rerum.
    </p>
  </div>
</div>
